body{
  margin:0;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(240, 28%, 16%);
}
#calculator{
  font-family: Arial, sans-serif;
  background-color: hsl(0,0%,30%);
  border-radius: 15px;
}
#display{
  border-radius: 15px 15px 0 0;
  width:80%;
  padding: 8% 10%;
  font-size: 2rem;
  text-align:left;
  border:none;
  color:white;
  background-color: hsl(0,0%,20%);
  white-space: nowrap;
  overflow-x: auto;
}
#keys{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  padding: 25px;

}
button{
  width:100%;
  aspect-ratio: 1;
  border-radius:10px;
  border:none;
  background-color: hsl(0,0%,10%);
  color:whitesmoke;
  font-size: 1rem;
  font-weight:bold;
  cursor:pointer;
}
button:hover{
  background-color: hsl(0,0%,15%);
}
button:active{
  background-color: hsl(0,0%,20%);
}

.cream-btn{
  background-color: hsl(40, 100%, 95%);
  color:black;
}
.cream-btn:hover{
  background-color: hsl(40, 100%, 90%);
}
.cream-btn:active{
  background-color: hsl(40, 100%, 85%);
}

.orange-btn{
  background-color: hsl(35, 100%, 55%);
  color:black;
}
.orange-btn:hover{
  background-color: hsl(35, 100%, 60%);
}
.orange-btn:active{
  background-color: hsl(35, 100%, 65%);
}
#secondBtn{
  background-color: blue;
}