.footer-container{
    display:flex;
    background-color:rgb(2, 15, 2);
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:55px;
    justify-content: center;
    align-items: center;
}
.email-address{
    color: whitesmoke;
    font-family: Roboto, Arial;
    font-size: 15px;
}