.header {
  height: 55px;
  display:flex;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:100;
  background-color: rgb(52, 64, 76);
}
.left-section{
  display: flex;
  flex:1;
  padding-left: 30px;
  align-items:center;
}
.name-link{
  font-family: Caveat, Roboto, Arial;
  font-size: 30px;
  font-weight: 500;
  color:whitesmoke;
  text-decoration: none;
}

.right-section{
  display:flex;
  width:350px;
  align-items: center;
  justify-content: space-between;
  flex-shrink:0;
}

.subpage-container{
  display: flex;
  justify-content: center;
  flex:1;
}

.subpage-link{
  font-family: Roboto, Arial;
  font-size: 16px;
  color:whitesmoke;
  text-decoration: none;
}
.subpage-link:hover{
  font-weight:500;
  text-decoration: underline;
}